doctype html
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/main.css')
  body(ng-app='MyApp', ng-controller='AppCtrl as ctrl')
    h4: center {{ message }}
    div(ui-view)

  script(src='js/libraries.js')
  script(src='js/scripts.js')
